@import url('https://fonts.googleapis.com/css?family=Nobile|Spectral|Lato');

:root{

	--blue: #193993;
  --grey: #9b9292;
  --black: #0e0705;
  --green: #a5d3c1;
  --gold: #eebf48;
  --greyblue: #E2E9ED;
}

h1{
	font-family: Lato, sans-serif;
	color: #a5d3c1;
	font-size: 1.9em;
	text-align: center;
}

.inner-box {
		background-color: var(--greyblue);
		margin-left: 9em;
		padding: 3px 3px 3px 3px;
		margin: 3px;
}

html, body {
        height: 100%;
        padding: 2px 2px 2px 2px;
}


.inner-box label {
	position: absolute;
}

.inner-box input{
}


.section{
	margin: 5px;
	padding: 2px;
	background-color: var(--greyblue);
	width: 100%
}

.test{
	font-family: Lato, sans-serif;
	margin: 5px;
	padding: 2px 2px 2px 2px;
	background-color: var(--greyblue);
	text-align: center;
	
}

.district{
	background-color: var(--greyblue);
	height: 100%;
	width: 100%
	margin: 2px;
	padding:2px;
}